// -------------------------------
//             Card
// -------------------------------

md-card {

    width: 600px;

}

.add-button-container {
    
    margin: auto;
    margin-top: 20px;
    width: 54px;

}