.spacer{
	flex: 1 1 auto;
}

mat-toolbar {
	
	margin: 0;
	border-top: 1px solid rgb(237, 237, 237);
	background-color: white;
	
}	

span {

	font-family: 'Roboto', sans-serif;
	color: rgb(128, 128, 128);
    font-weight: 300;

}

mat-icon {
	color: rgb(128, 128, 128);
    font-weight: 100;
}

@media (min-width: 600px) {
	.mobile-menu {
		display: none;
	}
}

@media (max-width: 600px) {
	.desktop-menu {
		display: none;
	}
}

.title {

	color: rgb(128, 128, 128);
	font-size: 24px;
	font-weight: 100;

}