<h1 class='title' *ngIf='stageService.inAddMode === false'>{{title}}</h1>

<div class='card-container' *ngFor='let stage of stages'>

    <button class='card' mat-raised-button (click)='selectStage(stage)' *ngIf='stageService.inAddMode === false'> 
        <h1 class='stage-name'>{{stage.name}}</h1>
    </button>

    <app-topic-overview [stageId]='stage.stageId'></app-topic-overview>

</div>

<div class='card-container' *ngIf='stageService.inAddMode === false'>
  <app-stage-add></app-stage-add>
</div>