<div class='add-button-container' *ngIf='languageService.inAddMode === false'>
  <button mat-fab class='add-button' (click)='languageService.toggleInAddMode()'>
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class='outline' *ngIf='languageService.inAddMode === true'>
  
  <!-- Form Title -->
  <h2>{{title}}</h2>
  
  <!-- Form -->
  <form class='form'>
    <mat-form-field class='full-width'>
      <input matInput placeholder='name' [formControl]='nameFromControl'>
    </mat-form-field>
  </form>

  <!-- Control Buttons -->
  <div class='wrapper'>
    <button mat-raised-button (click)='addAsset()' class='control-button submit-button'>
      <mat-icon>done</mat-icon>
    </button>    
    <button mat-raised-button (click)='languageService.setInAddMode(false)' class='control-button cancel-button'>
      <mat-icon>close</mat-icon>
    </button>
  </div>

</div>
