<div class='add-button-container' *ngIf='stageService.inAddMode === false'>
  <button mat-fab class='add-button' (click)='stageService.toggleInAddMode()'>
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class='outline' *ngIf='stageService.inAddMode === true'>
  
  <mat-card>
  
    <h1>{{title}}</h1>
    
    <form class='form'>
      <mat-form-field class='full-width'>
        <input matInput placeholder='Name' [formControl]='nameFormControl'>
      </mat-form-field>
    </form>
  
    <div class='wrapper'>
      <button mat-raised-button (click)='addStage()' class='control-button submit-button'>
        <mat-icon>done</mat-icon>
      </button>    
      <button mat-raised-button (click)='returnToOverview()' class='control-button cancel-button'>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  
  </mat-card>
  
</div>
