<div class='whitespace'></div>

<div *ngIf='onUpdateMode === false'>
  <div *ngFor='let language of languages'>
    <md-card>
        <md-grid-list cols="12">
            <md-grid-tile colspan='1'></md-grid-tile>
            <md-grid-tile colspan='10' (click)='selectLanguage(language)'><p>{{language.name}}</p></md-grid-tile>
            <md-grid-tile colspan='1'>          
              <button md-icon-button color='accent' [mdMenuTriggerFor]='appMenu'>
                <md-icon>more_vert</md-icon>
              </button>
            </md-grid-tile>
        </md-grid-list>
    </md-card>
    <div class='whitespace-tiny'></div>
  </div>
</div>

<div *ngIf='onUpdateMode === false'>
  <app-add-language></app-add-language>
</div>

<div *ngIf='onUpdateMode === true'>
  <app-update-language></app-update-language> 
</div>

<!-- Options Menu -->
<md-menu #appMenu='mdMenu'>
  <div>
    <button md-menu-item (click)='updateLanguage(language)'>
      <span>
        <md-icon>mode_edit</md-icon>Update
      </span>
    </button>
  </div>
  <div>
    <button md-menu-item (click)='deleteLanguage(language)'>
      <span>
        <md-icon>delete</md-icon>Delete
      </span>
    </button>
  </div>
</md-menu>