<div class='whitespace'></div>

<div *ngIf='onUpdateMode === false'>
  <div *ngFor='let language of languages'>
    <div class='card-button-container'>
      <button mat-raised-button>
        <mat-card>
          <mat-grid-list cols="12">
              <mat-grid-tile colspan='1'></mat-grid-tile>
              <mat-grid-tile colspan='10' (click)='selectLanguage(language)'><p>{{language.name}}</p></mat-grid-tile>
              <mat-grid-tile colspan='1'>          
                <button mat-icon-button color='accent' [matMenuTriggerFor]='appMenu'>
                  <mat-icon>more_vert</mat-icon>
                </button>
              </mat-grid-tile>
          </mat-grid-list>
        </mat-card>
      </button> 
      </div> 
    <div class='whitespace-tiny'></div>
  </div>
</div>

<div *ngIf='onUpdateMode === false'>
  <app-add-language></app-add-language>
</div>

<div *ngIf='onUpdateMode === true'>
  <app-update-language></app-update-language> 
</div>

<!-- Options Menu -->
<mat-menu #appMenu='matMenu'>
  <div>
    <button mat-menu-item (click)='updateLanguage(language)'>
      <span>
        <mat-icon>mode_edit</mat-icon>Update
      </span>
    </button>
  </div>
  <div>
    <button mat-menu-item (click)='deleteLanguage(language)'>
      <span>
        <mat-icon>delete</mat-icon>Delete
      </span>
    </button>
  </div>
</mat-menu>