<div class='whitespace'></div>

<md-card>

  <md-card-content>
    <md-input-container class="full-width">
      <input mdInput placeholder="email" [(ngModel)]="email" name="email">
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput placeholder="password" [(ngModel)]="password" name="password">
    </md-input-container>
    <button md-raised-button color='primary' (click)="signUp()">Sign Up</button>
    <button md-raised-button color='primary' (click)="logIn()" *ngIf='!loggedIn'>Log In</button>      
    <button md-raised-button color='primary' (click)="logOut()" *ngIf='loggedIn'>Log Out</button>      
  </md-card-content>

</md-card> 

