// -------------------------------
//             Card
// -------------------------------

md-card {

    margin:0 auto;
    width: 600px;
    margin-bottom: 20px;

}

.full-width {
    
    width: 100%;
    
}

.button {
    
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
}
