<div class='whitespace'></div>

<mat-card>

    <mat-form-field class="full-width">
      <input matInput placeholder="email" name="email" (ng-model)='email'>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="password" name="password" (ng-model)='password'>
    </mat-form-field>

    <button mat-raised-button color='primary' (click)="signUp()">Sign Up</button>
    <button mat-raised-button color='primary' (click)="logIn()" *ngIf='!loggedIn'>Log In</button>      
    <button mat-raised-button color='primary' (click)="logOut()" *ngIf='loggedIn'>Log Out</button>      

</mat-card>
