<div class='whitespace'></div>

<mat-card>

    <mat-input-container class="full-width">
      <input matInput placeholder="email" [(ngModel)]="email" name="email">
    </mat-input-container>
    <mat-input-container class="full-width">
      <input matInput placeholder="password" [(ngModel)]="password" name="password">
    </mat-input-container>
    <button mat-raised-button color='primary' (click)="signUp()">Sign Up</button>
    <button mat-raised-button color='primary' (click)="logIn()" *ngIf='!loggedIn'>Log In</button>      
    <button mat-raised-button color='primary' (click)="logOut()" *ngIf='loggedIn'>Log Out</button>      

</mat-card> 

