<div class='whitespace'></div>

<div class="scrolling-content">
  <div *ngFor='let topic of topics'>
    <div class='card-container'>
      <button mat-raised-button>
       
        <mat-card (click)='selectTopic(topic)' *ngIf='topic.score === 5'>
          <mat-grid-list cols="12">
              <mat-grid-tile colspan='1' class='five-stars'></mat-grid-tile>
              <mat-grid-tile colspan='10'>
                      <p>{{topic.name}}</p>
              </mat-grid-tile>
              <mat-grid-tile colspan='1'>          
                <button mat-icon-button (click)="deleteTopic(topic)">
                  <mat-icon color='accent'>close</mat-icon>
                </button>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card>
    
          <mat-card (click)='selectTopic(topic)' *ngIf='topic.score === 4' >
            <mat-grid-list cols="12">
              <mat-grid-tile colspan='1' class='four-stars'></mat-grid-tile>
              <mat-grid-tile colspan='10'>
                      <p>{{topic.name}}</p>
              </mat-grid-tile>
              <mat-grid-tile colspan='1'>          
                <button mat-icon-button (click)="deleteTopic(topic)">
                  <mat-icon color='accent'>close</mat-icon>
                </button>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card>

          <mat-card (click)='selectTopic(topic)' *ngIf='topic.score === 3'>
            <mat-grid-list cols="12">
              <mat-grid-tile colspan='1'class='three-stars'></mat-grid-tile>
              <mat-grid-tile colspan='10'>
                      <p>{{topic.name}}</p>
              </mat-grid-tile>
              <mat-grid-tile colspan='1'>          
                <button mat-icon-button (click)="deleteTopic(topic)">
                  <mat-icon color='accent'>close</mat-icon>
                </button>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card>

          <mat-card (click)='selectTopic(topic)' *ngIf='topic.score === 2'>
            <mat-grid-list cols="12">
              <mat-grid-tile colspan='1' class='two-stars'></mat-grid-tile>
              <mat-grid-tile colspan='10'>
                      <p>{{topic.name}}</p>
              </mat-grid-tile>
              <mat-grid-tile colspan='1'>          
                <button mat-icon-button (click)="deleteTopic(topic)">
                  <mat-icon color='accent'>close</mat-icon>
                </button>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card>

          <mat-card (click)='selectTopic(topic)' *ngIf='topic.score === 1'>
            <mat-grid-list cols="12">
              <mat-grid-tile colspan='1' class='one-stars'></mat-grid-tile>
              <mat-grid-tile colspan='10'>
                      <p>{{topic.name}}</p>
              </mat-grid-tile>
              <mat-grid-tile colspan='1'>          
                <button mat-icon-button (click)="deleteTopic(topic)">
                  <mat-icon color='accent'>close</mat-icon>
                </button>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card>

          <mat-card (click)='selectTopic(topic)' *ngIf='topic.score === 0'>
            <mat-grid-list cols="12">
              <mat-grid-tile colspan='1' class='zero-stars'></mat-grid-tile>
              <mat-grid-tile colspan='10'>
                      <p>{{topic.name}}</p>
              </mat-grid-tile>
              <mat-grid-tile colspan='1'>          
                <button mat-icon-button (click)="deleteTopic(topic)">
                  <mat-icon color='accent'>close</mat-icon>
                </button>
              </mat-grid-tile>
              </mat-grid-list>
          </mat-card>

      </button>
    </div>
  <div class='whitespace-tiny'></div> 
  </div> 
  <app-add-topic></app-add-topic>
</div>

