@import '../../shared/styles/generic-style.scss';

.entry-container {

    position: absolute;
    background: transparent;
    width: 100%;

}

mat-sidenav-container {
    
    height: 91.4%;

}

mat-input-container {
    
    padding-top: 15px;

}

.answer-input{

    font-family: 'Roboto', sans-serif;    
    line-height: 200%;
    font-size: 48px;
    font-weight: 100;    
    text-align: center;
    width: 100%;
    height: 100%;
    border: 0px solid white;
    background: transparent;
    color: white;

}

textarea:focus, input:focus{
    outline: none;
}


//------------
// Star Style 
//------------
.empty-star {

    color: rgb(200, 200, 200);

}

.full-star {
    
    color: #FFC107;

}

// -------------------------------
//          Mat Card
// -------------------------------
@media (max-width: 680px) {
    .mat-card {
        
        width: 100%;
        height: 70px;
        padding-top: 54px;
        background: transparent;
        box-shadow: none;

    }
}

@media (min-width: 680px) {
    .mat-card {
        
        width: 100%;
        height: 70px;
        padding-top: 54px;
        background: transparent;
        box-shadow: none;

    }
}

.mat-raised-button {

    padding: 0;

}

.less-padding {

    padding-top: 30px;
    padding-bottom: 48px;

}

.check-button {

    background: linear-gradient(to right bottom, rgb(218, 163, 100),rgb(200, 63, 100));
    width: 70px;
    height: 70px;
    z-index: 12;
    margin-top: -37px;
    margin-left: 80%;
    position: absolute;

}

.check-button .mat-icon {

    margin-top: -8px;
    margin-left: -8px;
    font-size: 30px;

}

.entry-button-container {

    position: absolute;
    margin-left: calc(10%);
    margin-top: 120px;
    width: 80%;

}

h2 {

    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 52px;
    text-align: center;

}

.card-button-container {

    background: transparent;
    width: calc(100%);
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    box-shadow: none !important;

}

.card-content {

    width: calc(100% - 20px);
    padding: 10px;
    margin: 0;
    height: 150px;

}