<mat-sidenav-container class='entry-container'>

  <app-entry-side></app-entry-side>

  <div class='entry-button-container'>

    <button mat-raised-button class='card-button-container' (click)='update()'>
      <mat-card class='card-content' *ngIf='answerIsCorrect'><h2>{{entry.native}}</h2></mat-card>
      <mat-card class='card-content' *ngIf='!answerIsCorrect'><h2>{{entry.native}} - {{entry.foreign}}</h2></mat-card>
    </button>
    
    <mat-card class='card-content'><input class='answer-input' [(ngModel)]='answer' (keyup.enter)='onKey($event)'></mat-card>  
    
    <!-- Check Button -->
    <button mat-fab class='check-button' (click)='check()'><mat-icon>done</mat-icon></button>
  
    <mat-grid-list cols="12">
      <mat-grid-tile colspan='1'></mat-grid-tile>                              
      <mat-grid-tile colspan='10' *ngIf='entry.score == -1'>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile colspan='10' *ngIf='entry.score == 0'>
          <mat-icon class='empty-star'>star_border</mat-icon>
          <mat-icon class='empty-star'>star_border</mat-icon>
          <mat-icon class='empty-star'>star_border</mat-icon>
          <mat-icon class='empty-star'>star_border</mat-icon>
          <mat-icon class='empty-star'>star_border</mat-icon>
        </mat-grid-tile>
      <mat-grid-tile colspan='10' *ngIf='entry.score == 1'>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile colspan='10' *ngIf='entry.score == 2'>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile colspan='10' *ngIf='entry.score == 3'>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile colspan='10' *ngIf='entry.score == 4'>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile colspan='10' *ngIf='entry.score == 5'>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='full-star'>star</mat-icon>
      </mat-grid-tile>
    </mat-grid-list>  
  </div>
  
  <button mat-fab class='add-button' (click)='add()'><mat-icon>add</mat-icon></button>
  
</mat-sidenav-container>