<div class='whitespace'></div>
<div *ngFor='let topic of topics'>
  <md-card (click)='selectTopic(topic)'>
    <md-card-content>
      <p>
        <md-grid-list cols="12">
            <md-grid-tile colspan='1'></md-grid-tile>
            <md-grid-tile colspan='10'>{{topic.name}}</md-grid-tile>
            <md-grid-tile colspan='1'>          
            <button md-icon-button (click)="deleteTopic(topic)">
              <md-icon color='primary'>more_vert</md-icon>
            </button>
          </md-grid-tile>
        </md-grid-list>
      </p>
    </md-card-content>
  </md-card>
</div>