@media (max-width: 680px) {
    .card-button-container {
        
        width: 80%;
        margin: auto;
        flex: 1;
        
    }
}

@media (min-width: 680px) {
    .card-button-container  {
        
        width: 550px;
        margin: auto;
        flex: 1;
        
    }

}

.mat-raised-button {
    padding: 0;
}

.scrolling-content {


    margin: auto;
    // height: 100%;
    
}

.zero-stars {

    background-color: #F44336;
    
}

.one-stars {

    background-color: #FF5722


}

.two-stars {

    background-color: #FF9800;

}

.three-stars {

    background-color: #FFEB3B;

}

.four-stars {

    background-color:#8BC34A;

}

.five-stars {

    background-color: #4CAF50;

}