<mat-sidenav-container>
    
  <app-side-entry></app-side-entry>


  <div class='card-button-container' *ngIf='onUpdateMode === false'>
    <button mat-raised-button (click)='toggleUpdateMode()'>
      <mat-card  *ngIf='answerIsCorrect'>
        <mat-grid-list cols="12">
          <mat-grid-tile colspan='12' *ngIf='answerIsCorrect'>
            <p>{{entry.native}}</p>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
      <mat-card *ngIf='!answerIsCorrect' class='less-padding'>
          <mat-grid-list cols="12">
            <mat-grid-tile colspan='12'>
              <p>{{entry.native}}</p>
            </mat-grid-tile>
          <mat-grid-tile colspan='12'>
              <p class='correction'>{{entry.foreign}}</p>
            </mat-grid-tile>
        </mat-grid-list>
      </mat-card> 
    </button>
  </div>
  
  <div class='whitespace-tiny'></div>  

  <div class='card-button-container' *ngIf='onUpdateMode === false'>
    <mat-card>
        <mat-grid-list cols="12">
          <mat-grid-tile colspan='12'>
            <input class='answer-input' [(ngModel)]='answer'>
          </mat-grid-tile>
        </mat-grid-list>      
    </mat-card>  
  </div>

  <div class='fab-button-container' *ngIf='onUpdateMode === false'>
    <button mat-fab (click)='check()'>
      <mat-icon>done</mat-icon>
    </button>
  </div>

  <div *ngIf='onUpdateMode === false'>
    <mat-grid-list cols="12">
      <mat-grid-tile colspan='1'></mat-grid-tile>                              
      <mat-grid-tile colspan='10' *ngIf='entry.score == -1'>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile colspan='10' *ngIf='entry.score == 0'>
          <mat-icon class='empty-star'>star_border</mat-icon>
          <mat-icon class='empty-star'>star_border</mat-icon>
          <mat-icon class='empty-star'>star_border</mat-icon>
          <mat-icon class='empty-star'>star_border</mat-icon>
          <mat-icon class='empty-star'>star_border</mat-icon>
        </mat-grid-tile>
      <mat-grid-tile colspan='10' *ngIf='entry.score == 1'>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile colspan='10' *ngIf='entry.score == 2'>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile colspan='10' *ngIf='entry.score == 3'>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile colspan='10' *ngIf='entry.score == 4'>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile colspan='10' *ngIf='entry.score == 5'>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='full-star'>star</mat-icon>
        <mat-icon class='full-star'>star</mat-icon>
      </mat-grid-tile>
    </mat-grid-list>  
  </div>

  <div *ngIf='onUpdateMode === true'>
    <app-update-entry></app-update-entry> 
  </div>      
</mat-sidenav-container>