<mat-sidenav-container>
    
  <app-side-entry></app-side-entry>

  <div class='space'></div>
  <div *ngIf='onUpdateMode === false'>
    <mat-card>
      <mat-grid-list cols="12">
        <mat-grid-tile colspan='1'></mat-grid-tile>                              
        <mat-grid-tile colspan='10' *ngIf='answerIsCorrect'>
          <p>{{entry.native}}</p>
        </mat-grid-tile>
        <mat-grid-tile colspan='10' *ngIf='!answerIsCorrect'>
          <p>{{entry.native}} - {{entry.foreign}}</p>
        </mat-grid-tile> 
        <mat-grid-tile colspan='1'>          
          <button mat-icon-button color='accent' [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
        
          <mat-menu #appMenu="matMenu">
            <div>
              <button mat-menu-item (click)="toggleUpdateMode()">
                <span>
                  <mat-icon>mode_edit</mat-icon>Update
                </span>
              </button>
            </div>
            <div>
              <button mat-menu-item (click)="deleteEntry()">
                <span>
                  <mat-icon>delete</mat-icon>Delete
                </span>
              </button>
            </div>
          </mat-menu>
        </mat-grid-tile> 
      </mat-grid-list>
      
    </mat-card> 

    <div class='whitespace-tiny'></div>  
    
    <mat-card>
      <mat-card-content>
        <mat-grid-list cols="12">
          <mat-grid-tile colspan='1'></mat-grid-tile>                              
          <mat-grid-tile colspan='10'>
            <input class='answer-input' [(ngModel)]='answer'>
          </mat-grid-tile>
          <mat-grid-tile>          
            <div class='fab-button-container'>
              <button mat-fab (click)='check()'>
                <mat-icon>done</mat-icon>
              </button>
            </div>
          </mat-grid-tile>
        </mat-grid-list>      
      </mat-card-content>
    </mat-card>  

    <mat-grid-list cols="12">
      <mat-grid-tile colspan='1'></mat-grid-tile>                              
      <mat-grid-tile colspan='10' *ngIf='entry.score == -1'>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile colspan='10' *ngIf='entry.score == 0'>
          <mat-icon class='empty-star'>star_border</mat-icon>
          <mat-icon class='empty-star'>star_border</mat-icon>
          <mat-icon class='empty-star'>star_border</mat-icon>
          <mat-icon class='empty-star'>star_border</mat-icon>
          <mat-icon class='empty-star'>star_border</mat-icon>
        </mat-grid-tile>
      <mat-grid-tile colspan='10' *ngIf='entry.score == 1'>
        <mat-icon color='primary'>star</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile colspan='10' *ngIf='entry.score == 2'>
        <mat-icon color='primary'>star</mat-icon>
        <mat-icon color='primary'>star</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile colspan='10' *ngIf='entry.score == 3'>
        <mat-icon color='primary'>star</mat-icon>
        <mat-icon color='primary'>star</mat-icon>
        <mat-icon color='primary'>star</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile colspan='10' *ngIf='entry.score == 4'>
        <mat-icon color='primary'>star</mat-icon>
        <mat-icon color='primary'>star</mat-icon>
        <mat-icon color='primary'>star</mat-icon>
        <mat-icon color='primary'>star</mat-icon>
        <mat-icon class='empty-star'>star_border</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile colspan='10' *ngIf='entry.score == 5'>
        <mat-icon color='primary'>star</mat-icon>
        <mat-icon color='primary'>star</mat-icon>
        <mat-icon color='primary'>star</mat-icon>
        <mat-icon color='primary'>star</mat-icon>
        <mat-icon color='primary'>star</mat-icon>
      </mat-grid-tile>
    </mat-grid-list>  
  </div>
  <div *ngIf='onUpdateMode === true'>
  
    <app-update-entry></app-update-entry> 

  </div>      
</mat-sidenav-container>