<div class='add-button-container' *ngIf='entryService.inAddMode === false'>
  <button mat-fab class='add-button' (click)='entryService.toggleInAddMode()'>
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class='outline' *ngIf='entryService.inAddMode === true'>
  
  <h2>{{title}}</h2>
  
  <form class='form'>
    <mat-form-field class='full-width'>
      <input matInput placeholder='native' [formControl]='nativeFromControl'>
    </mat-form-field>
    <mat-form-field class='full-width'>
      <input matInput placeholder='foreign' [formControl]='foreignFromControl'>
    </mat-form-field>
  </form>

  <div class='wrapper'>
    <button mat-raised-button (click)='addAsset()' class='control-button submit-button'>
      <mat-icon>done</mat-icon>
    </button>    
    <button mat-raised-button (click)='entryService.setInAddMode(false)' class='control-button cancel-button'>
      <mat-icon>close</mat-icon>
    </button>
  </div>

</div>
