h1 {

    color: rgb(128, 128, 128);
	font-size: 34px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;

}

.card {

    height: 100px;
    width: 33.33333333%;
    text-align: center;
    border: 0.5px solid rgb(237, 237, 237);
    box-shadow: none;
    border-radius: 0%;
    color: rgb(128, 128, 128);
    padding-top: -3px;
    margin-top: -30px;

}

button {
    margin-top: -10px;

}

mat-card {

    margin:auto;
    margin-top: 50px;
    background-color: white;

}
