<h1>{{title}}</h1>
  
<mat-card>
  
  <form class='form'>
    <mat-form-field class='full-width'>
      <input matInput placeholder='Name' [formControl]='nameFormControl'>
    </mat-form-field>
  </form>

  <div class='wrapper'>
    <button mat-raised-button (click)='add()' class='control-button submit-button'>
      <mat-icon>done</mat-icon>
    </button>    
    <button mat-raised-button (click)='close()' class='control-button cancel-button'>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  
</mat-card>
