@import '~@angular/material/theming';
@import '../theme.scss';

* {

    background-color: white;
    margin: 0;
    padding: 0;
    
}

button {

    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

.full-width {

    width: 100%;

}

.half-width {

    width: 100%;

}

h1 {

    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: rgb(128, 128, 128);

}

h2 {

    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: rgb(128, 128, 128);
    
}

h3 {

    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: rgb(128, 128, 128);
    
}

.outline {
    
    width: 800px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    border: 1px solid rgb(237, 237, 237);

}

.banner {
    width: 100%;
    border-bottom: 0.5px solid rgb(237, 237, 237);
    background: linear-gradient(to right bottom, #FF9800,#EF6C00);
}

/////////////
// Sidenav //
/////////////
.hidden-button {
    margin-top: -100px;
    height: 100%;
    width: 20px;
    position: fixed;
}

mat-drawer-container {
    background-color: white !important;
}

.sidenav-content {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    background-color: white;
}
  
.sidenav {
    height: 100%;
    border-right: 1px solid rgb(237, 237, 237);
    background-color: white;
}

mat-drawer-content {
    background-color: white;
}

mat-drawer {
    width: 300px;
    background-color: white;
}