button {

    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

md-card {

    margin-top: 20px;
    width: 80%;

}

// Buttons
.fab-button-container{

    margin-top: 16px;
    margin-left: -28px;
    position: fixed;

}