<mat-card>
  <mat-card-content>

    <mat-input-container class="full-width">
      <input matInput placeholder="Native" [(ngModel)]="native">
    </mat-input-container>
    
    <mat-input-container class="full-width">
      <input matInput placeholder="Foreign" [(ngModel)]="foreign">
    </mat-input-container>

    <mat-grid-list cols="12">
      <mat-grid-tile colspan='11'></mat-grid-tile>
      <mat-grid-tile >
        <div class='fab-button-container'>
          <button mat-fab (click)="save()">
            <mat-icon>done</mat-icon>
          </button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>
</mat-card>