<div class='card-container'>
  <mat-card>
      <mat-grid-list cols="12" class='large-grid-list'>
      
        <mat-grid-tile colspan='12' class='large-tile'>
          <mat-input-container class="full-width">
            <input matInput placeholder="Native" [(ngModel)]='native' (keyup.enter)='onKey($event)'>
          </mat-input-container>      
        </mat-grid-tile>
        
        <mat-grid-tile colspan='12' class='large-tile'></mat-grid-tile>
        
        <mat-grid-tile colspan='12' class='large-tile'>
          <mat-input-container class="full-width">
            <input matInput placeholder="Foreign" [(ngModel)]='foreign' (keyup.enter)='onKey($event)'>
          </mat-input-container>       
        </mat-grid-tile>
        
      </mat-grid-list>      
  </mat-card>
</div>

<!-- Save Button -->
<div class='fab-button-container'>
  <button mat-fab (click)='save()'>
    <mat-icon>done</mat-icon>
  </button>
</div>