@import '~@angular/material/theming';
@import '../../../theme.scss';

// -------------------------------
//           Sidebar
// -------------------------------
.scrolling-content {
    
    height: 100%;
    width: 325px;
    
}

#sidenav {

    height: 100%;

}

.control-button{

    font-size: 15px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    color: rgb(33, 33, 33);
    font-weight: 300;
    width: 100%;
    border-radius: 0px;
}

.add-button-container {
    
    margin: auto;
    width: 54px;
    padding: 10px;

}

.zero-stars {

    border-right: 1px solid #F44336;

}

.one-stars {

    border-right: 1px solid #FF5722


}

.two-stars {

    border-right: 1px solid #FF9800;

}

.three-stars {

    border-right: 1px solid #FFEB3B;

}

.four-stars {

    border-right: 1px solid #8BC34A;

}

.five-stars {

    border-right: 1px solid #4CAF50;

}
                    
                                        