@import '~@angular/material/theming';
@import '../../../theme.scss';

// -------------------------------
//           Sidebar
// -------------------------------
.scrolling-content {
    
    height: 100%;
    width: 325px;
    
}

#sidenav {

    height: 100%;

}

.control-button{

    font-size: 15px;
    margin-top: 1px;
    font-family: 'Roboto', sans-serif;
    color: rgb(33, 33, 33);
    font-weight: 300;
    width: 100%;
    border-radius: 3px;
    background-color: #546E7A;    
}

.add-button-container {
    
    margin: auto;
    width: 54px;
    padding: 1px;
    
}

.zero-stars {

    background-color: #F44336;

}

.one-stars {

    background-color: #FF5722


}

.two-stars {

    background-color: #FF9800;

}

.three-stars {

    background-color: #FFEB3B;

}

.four-stars {

    background-color:#8BC34A;

}

.five-stars {

    background-color: #4CAF50;

}
        
.scrolling-content {
    background-color: #546E7A;    
    padding: 3px;
}
