h1 {

    color: rgb(128, 128, 128);
	font-size: 34px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;

}

mat-card {

    margin:auto;
    margin-top: 50px;
    background-color: white;

}

.add-button-container {
    
    margin: auto;
    margin-top: 20px;
    width: 54px;

}
