button {
    
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

.full-width {

    width: 100%;

}

.add-button-container {
    
    margin: auto;
    margin-top: 20px;
    width: 54px;
    padding: 10px;

}

md-card {

    margin-top: 50px;

}