<!-- Fab Button -->
<div class='add-button-container' *ngIf='onAddMode === false'>
  <button md-fab class='add-button' (click)='toggleOnAddMode()'>
    <md-icon>add</md-icon>
  </button>
</div>

<!-- Topic Form -->
<md-card *ngIf='onAddMode === true'>
  <md-card-content>

    <md-input-container class="full-width">
      <input mdInput placeholder='New Topic' [(ngModel)]='name'>
    </md-input-container>
    
    <md-grid-list cols="12" rowHeight="80px">
      <md-grid-tile colspan='10'></md-grid-tile>
      <md-grid-tile colspan='2'>
        <button md-fab (click)="save()">
          <md-icon>done</md-icon>
        </button>
      </md-grid-tile>
    </md-grid-list>

  </md-card-content>
</md-card>
