@import '~@angular/material/theming';
@import '../../../theme.scss';

.scrolling-content {
    
    height: 100%;
    width: 325px;
    background-color: rgb(238, 192, 132)

}

#sidenav {

    height: 100%;

}

.control-button{

    font-size: 15px;
    margin-top: 1px;
    font-family: 'Roboto', sans-serif;
    color: rgb(33, 33, 33);
    font-weight: 300;
    width: 100%;
    border-radius: 3px;
    background-color: linear-gradient(to right bottom, rgb(255, 218, 163),rgb(194, 117, 54));

}

.add-button-container {
    
    margin: auto;
    width: 54px;
    
}

.zero-stars {

    background-color: #F44336;

}

.one-stars {

    background-color: #FF5722


}

.two-stars {

    background-color: #FF9800;

}

.three-stars {

    background-color: #FFEB3B;

}

.four-stars {

    background-color:#8BC34A;

}

.five-stars {

    background-color: #4CAF50;

}
        
.scrolling-content {
    padding: 3px;
}

.hidden-button {
    height: 80%;
    width: 20px;
    position: fixed;
    
}