// -------------------------------
//          Mat Card
// -------------------------------

@media (max-width: 680px) {
    
    mat-card {
    
        height: 180px;
        width: 100%;
        
    }
}

@media (min-width: 680px) {
   
    mat-card {
      
        height: 180px;
        width: 100%;
    }
}

@media (max-width: 680px) {
    
    .card-container {
        
        margin: 0.5px;
        width: 84.5%;
        
    }
}

@media (min-width: 680px) {
    
    .card-container  {
        
        margin: 0.5px;
        width: 84.5%;
        
    }
}

.fab-button-container{

    z-index: 12;
    margin-top: -29px;
    margin-left: 60%;
    position: absolute;

}

mat-grid-tile {

    height: 70px;    
}