button {

    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

.full-width {

    width: 100%;

}

.button-container {
    
    margin: auto;
    margin-top: 20px;
    width: 54px;
    padding: 10px;

}

.fab-button-container{
    
        margin-top: 45px;
        margin-left: -28px;
        position: fixed;
    
    }